.dashboard {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.dash-header {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto;
}
.dash-header > h1 {
	box-sizing: border-box;
	font-size: 2.3rem;
	color: #fff;
	font-weight: 800;
	padding: 5px 10px;
}

.dash-title > span  {
	color: #eee;
}
.dash-header > button {
	height: 55px;
	width: 200px;
	border: 0;
	border-radius: 10px;
	background: #fff;
	box-sizing: border-box;
	padding: 5px 10px;
	font-size: 1.5rem;
	font-weight: 800;
	animation: move 1s infinite;
}
a {
	text-decoration: none;
	color: #000;
}

.dash-main {
	width: 500px;
	height: 400px;
	margin: 100px auto;
	border-radius: 20px;
	border: 2px solid #fff;
	color: #fff;
}
.dash-main .card {
	width: 80%;
	height: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	box-sizing: border-box;
}

.card > h4 {
	flex: 1;
	font-size: 3rem;
}
.card .pass-number {
	flex: 2;
	font-size: 5rem;
	color: #fff;
	border: 2px solid #fff;
	padding: 20px;
	border-radius: 10px;
}
.dash-footer {
	display: none;
	width: 80%;
	margin: auto;
	color: #fff;
	position: absolute;
	bottom: 10%;
	left: 10%;
	justify-content: space-around;
}
.dash-footer ul li {
	list-style: none;
	display: inline-block;
	margin: 0 1rem;
}
.dash-footer ul li a {
	color: #fff;
	cursor: pointer;
}

.dash-footer .icon {
	width: 20px;
	height: 20px;
	animation: blink 10s infinite;
}

.dash-footer .icon:hover {
	width: 25px;
	height: 25px;
}

@media (max-width: 716px){
	.dash-footer ul li {
		margin: 0 2rem;
	}
	.dash-footer {
		left: 20%;
	}
	.dash-allRight {
		display: none;
	}
	.dash-header {
		flex-direction: column;
	}
	.dashboard {
		left: 5%;
	}
	.dash-header > h1 {
		font-size: 1.9rem;
	}
	.dash-main {
		width: 200px;
		height: 220px;
		margin-top: 20px;
	}
	.dash-main .card{
		width: 100px;
		height: 100px;
	}
	.card > h4{
		font-size: 1.5rem;
	}
	.card .pass-number {
		font-size: 5rem;
	}
}
@media (min-width: 1000px) {
	.dashboard {

	width: 80%
	}
}
