*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    width: 100%;
    padding: 30px;
	position: fixed;
}
.sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    transition: all 0.25s;
	border-right: 2px solid #fff;
	position: relative;
	overflow: hidden;
	z-index: 200;
}
.top_section{
    display: flex;
	justify-content: space-between;
    align-items:center;
    padding:20px 15px;
	margin-bottom: 50px;
}

.logo{
    font-size: 25px;
}

.list-item {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 30px;
}

.link{
	display: flex;
	width: 100%;
    color: #fff;
    padding: 10px 15px;
    transition: all 0.5s;
}

.link:hover{
    background: #fff;
    color: #000;
    transition: all 0.5s;
}

.active{
    background: #fff;
    color: #000;
}

 .link_text{
    font-size: 25px;
	margin-left: 15px;
}
.icon {
	font-size: 30px;
	cursor: pointer;
}
