*{
	padding: 0;
	margin: 0;
}


.rm-form > h4 {
	font-size: 2rem;
	margin: 30px auto;
}
.rm-form {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	background: #000;
	border: 2px solid #fff;
	outline: none;
	border-radius: 20px;
	position: absolute;
	top: 15%;
	left: 35%;
}
.rm-form > input {
	width: 80%;
	height: 3rem;
	box-sizing: border-box;
	margin: .8rem auto;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
	background: #000;
	color: #fff;
	font-size: 1rem;
}
.rm-form > label {
	margin: 1rem auto .6rem;
	color: #fff;
	font-size: 1.3rem;
}

.rm-form > button {
	width: 55%;
	margin: .6rem auto;
	height: 3rem;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 15px;
	font-size: 1.5rem;
	margin: auto;
	background: #000;
	cursor: pointer;
}

.rm-form button:hover {
	background: #fff;
	color: #000;
}

.rm-form > p{
	font-size: .9rem;
	color: #eee;
	width: 75%;
	margin: auto;
}
@media (max-width: 1000px) {
	.rm-form {
		width: 500px;
		height: 500px;
		top: 15%;
		left: 27%;
	}
}

@media (max-width: 700px) {
	.rm-form {
		min-width: 200px;
		max-width: 300px;
		height: 420px;
		top: 10%;
		left: 25%;
	}
	.rm-form > p {
		font-size: .6rem;
	}
	.rm-form > h4 {
		font-size: 1.5rem;
	}
	.rm-form > button  {
		font-size: 1rem;
	}
}

