*{
	padding: 0;
	margin: 0;
}
.passwd-form {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	background: #000;
	border: 2px solid #fff;
	outline: none;
	border-radius: 20px;
	position: absolute;
	top: 15%;
	left: 35%;
}

.passwd-form > input {
	width: 80%;
	height: 3rem;
	box-sizing: border-box;
	margin: .8rem auto;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
}
.passwd-form > p{
	font-size: .6rem;
	color: #eee;
	width: 75%;
	margin: 0 auto;
	line-height: 15px;
}
.passwd-form > label {
	margin: 1rem auto .6rem;
	color: #fff;
	font-size: 1.3rem;
}

.passwd-form > button {
	width: 40%;
	margin: 1rem auto;
	height: 2.5rem;
	border: 1px solid #fff;
	border-radius: 15px;
	font-size: 1.27rem;
	margin: auto;
	background: #fff;
}

.success-alert {
	background: #008000;
	color: #000;
	font-size: .9rem;
	width: 60%;
	height: 20px;
	margin: 0 auto;
	text-align: center;
}
.failure-alert {
	background: #F8D7DA;
	color: #000;
	font-size: .9rem;
	width: 60%;
	height: 20px;
	margin: 0 auto;
	text-align: center;
}
@media (max-width: 1000px) {
	.passwd-form {
		width: 500px;
		height: 500px;
		top: 15%;
		left: 27%;
	}
}

@media (max-width: 700px) {
	.passwd-form {
		min-width: 200px;
		max-width: 300px;
		height: 500px;
		top: 10%;
		left: 25%;
	}
}

@keyframes bounce {
  0%   {top: 0px;}
  25%  {top: 50px;}
  50%  {top: 25px;}
  75%  {top: 50px;}
  100% {top: 0px;}
}
@keyframes blink {
  0%    { opacity: 0; }
  20%   { opacity: .50; }
  80%   { opacity: .7; }
  100%  { opacity: 1; }
}
